.beta {
    background-image: url('../../../../assets/shared/desktop/bg-beta.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 60px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    position: relative;
    height: 300px;

    @media (max-width: 901px) {
        padding: 60px;
    }

    @media (max-width: 700px) {
        display: block;
        text-align: center;
        padding: 30px 10px;
        height: 200px;
    }

    & h2 {
        font-size: 32px;
        max-width: 400px;
        color: #fff;
        line-height: 1.6;
        letter-spacing: 3px;

        @media (max-width: 901px) {
            font-size: 25px;
            width: 100%;
        }

        @media (max-width: 700px) {
            width: 100%;
            margin: 15px auto;
            font-size: 20px;
            font-weight: 700;
        }

        @media (max-width: 700px) {
            font-size: 16px;
        }
        
    }

    & a {
        @media (max-width: 700px) {
            justify-content: center;
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 7px;
        background: linear-gradient(27deg, rgb(255, 197, 147) 0%, rgb(188, 113, 152) 49%, rgb(90, 119, 255) 95%);

        @media (max-width: 700px) {
            width: 20%;
            height: 7px;
            top: 0;
            left: 25px;
            background: linear-gradient(60deg, rgb(255, 197, 147) 0%, rgb(188, 113, 152) 49%, rgb(90, 119, 255) 95%);
        }
        
    }
}