.featuresTest {
    display: flex;
    justify-content: center;
    flex: none;
    padding: 100px 0;

    @media (max-width: 1024px) {
        padding: 0;
    }

    &__container {
        margin: 40px 20px;
        flex: none;
        max-width: 350px;

        @media (max-width: 1024px) {
            margin: 20px 0;
        }
    }

    &__img {
        height: 200px;

        @media (max-width: 1024px) {
            height: 100px;
        }
    }
}