.features {
    height: 600px;
    overflow: hidden;

    &__container {

        &::before {
            content: "";
            position: absolute;
            background: linear-gradient(180deg, rgba(90,119,255,1) 0%, rgba(182,113,158,1) 45%, rgba(253,194,147,1) 100%);
            border: none;
            outline: none;
            top: 32%;
            height: 28%;
            width: 6px;
    
            @media (max-width: 901px) {
                background: linear-gradient(60deg, rgba(90,119,255,1) 0%, rgba(182,113,158,1) 45%, rgba(253,194,147,1) 100%);
                width: 22%;
                height: 7px;
                top: 0;
                left: 70px;
            }
        }

    }
}